/* 
    -> typography is the way that text is arranged and presented.

*/
body {
    padding: 10%;
    font-size: 1.5rem;
    color: purple;
}

p {
    /* text-indent: 2em; */
    /* text-decoration: underline; */
    /* text-align: center; */
    line-height: 1.5;
    /* letter-spacing: 0.25em; */
    word-spacing: 0.5em;

    font-weight: 500;
    font-family: monospace;
}
/* input, button {
    font: inherit;
} */